.App {
  text-align: center;
}

textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
outline:0px !important;
-webkit-appearance:none;
box-shadow: none !important;
}

.logo{
  text-align: start;
  margin-left: 15px;
  flex-direction: column;
}

.logo img{
  width: 80px;
  height: 35px;
  object-fit: contain;
}

.logoText{
  font-size: 22px;
  color: #f7f4f4;
}


.navbar{
  background-color: black !important;
  box-shadow: 0px 2px 7.8px 0.2px rgba(0, 0, 0, 0.38);
}
    

.navbar-toggler-icon {
  // background-image: url(./../assets/navbarIcon.png) !important;
  background-size: 100% 60% !important;
  color: white;
}

.navbar-collapse {
  flex-grow: 1;
  justify-content: flex-end;
  margin-right: 15px;
}

.navitemText{
  color: #d6a900;
}

.navbar-light .navbar-nav .nav-link {
  color: #050505 !important;
  font-family: CenturyGothic;
  font-size: 16px !important;
}


@media (min-width: 768px)
{
.navbar-expand-md .navbar-nav .nav-link {
  padding-right: 1.0rem;
  padding-left: 1.0rem;
}
}

.bgColor{
  background-color: #3c3a3a !important;
}

.textBold{
  font-weight: bold;
}

.navlinkBox{
  border-radius: 6px;
    box-shadow: inset -1px 0px 11px 7px #2d2b2b;
}
 .navitemNo{
   color: white;
 }

 .searchInput{
  width: 100%;
}

.input{
  width: 100%;
  max-width: 600px;  
}

.inputCol{
  padding: 0 !important;   
}

.inputPlace{
  padding: 0px 25px!important;
  margin-top: 15px;
  border-radius: 50px;
  background-color: #676262;
  border-color: #676262;
  color: white;
}

.inputButton{
  color: #079dcc !important;
  width: 100%;
  margin-top: 15px;
  text-align: left;
}

.tableBody{
  padding-top: 150px;
  font-size: 14px;
}

th{
  color: #d6a900;
}

td{
  color: white;
}